body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
